@import "main.css";
@import "navbar.css";
@import "navbarm.css";
@import "contactm.css";

#selfie {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 130px;
  height: 130px;
  margin-bottom: 55px;
}

#contact{
  display: grid;
  grid-template-rows: 10% 20% auto;
  grid-template-columns: 10% auto 10%;
  height: 100vh;
}

#contact .h2_container{
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

#contact_card{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
/*  border-right: 2px solid #dedede;
  border-left: 2px solid #dedede;
  border-bottom: 2px solid #dedede;*/
}

#icons a{
  width: 48px;
  height: 48px;
  margin: 0 15px;
}

#icons a img{
  width: 30px;
  height: 30px;
}

#contact_background{
  position: absolute;
  top: 15%;
  right: -60px;
  width: 80%;
  height: 20px;
  background-color: #F0544F;
  opacity: 0.8;
/*  border-right: 150px solid #F0544F;
  border-top:  150px solid transparent;
  border-bottom: 150px solid transparent;;*/
  z-index: -1;
}

#contact_card h1{
  position: absolute;
  top: -70px;
  left: -60px;
  z-index: -1;
  letter-spacing: -20px;
  font-size: 180px;
  color:#dedede;
}

#contact_card h1 span {
  display: block;
  line-height: 0px;
}
