@import "main.css";
@import "navbar.css";
@import "navbarm.css";
@import "educationm.css";

/*.h2_container{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  left: 65%;
  top: 30%;
}*/

#edu {
  height: 100vh;
}


#edu h2{
  font-size: 85px;
  letter-spacing: 10px;
  transform: rotate(-90deg);
  position: fixed;
  right: 50%;
  top: 30%;
}

#edu-content{
  position: fixed;
  top: 20%;
  width: 50%;
  right: 5%;
/*  color: white;*/
}

#edu-content h3{
  margin: 40px 0 25px 0;
  font-size: 50px;
  color: #F0544F;
  letter-spacing: 6px;
}

#edu-h4-content{
  margin: 35px 0;
}

#edu-content-footer-background{
  position: fixed;
  bottom: 2%;
  height: 27%;
  width: 95%;
  left: 5%;
  background-color:  #F9E784;
  z-index:-2;
}

#edu-content-bottom-background{
  position: fixed;
  bottom: 27%;
  height: 1%;
  width: 50%;
  right: 5%;
  background-color:  #F0544F;
}

#edu-content-background {
  position: fixed;
/*  opacity: 0.8;*/
  height: 80%;
  width: 63%;
  background-color: #F1E8B8;
  margin: 0;
  top: 6%;
  right: 2%;
  z-index:-1;

}

#edu-content-background2 {
  position: fixed;
  height: 83%;
  width: 65%;
  background-color: #E58F65;
  margin: 0;
  top: 11%;
  right: 2%;
  z-index: -3;
}

#edu-content h4{
  font-size: 20px;
  margin:0;
}

#edu-content p{
  margin: 10px 0;
  font-style: italic;
}

#edu-content ul{
  padding: 0;
}

#edu-content li{
  padding: 15px 0;
}

#learn-quote{
  display: flex;
  position: fixed;
  text-align: right;
  bottom: 5%;
  left: 2%;
  font-size: 30px;
  width: 50%;
  letter-spacing: 2px;
  line-height: 40px;
}

#learn-quote h4 span{
  display: block;
}




