footer{
  height:30px;
  position: relative;
  display: flex;
  background-color: #272727;
}

footer p{
  margin: 0;
}

#email{
  position: absolute;
  left:10%;
  top: 5px;
  color:#FFF8F0;
}

#Handcrafted{
  position: absolute;
  right:10%;
  top:5px;
  color:#FFF8F0;
}
