@media only screen and (max-width: 400px) {
  #project{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }

  #project .h2_container {
    margin-top: 90% !important;
  }

  #project-quote{
    display: none !important;
  }

  #project_background{
    display: none !important;
  }

  .project-cards {
/*    height: 100px !important;*/
    background-color: white;
    transition: all 0.25s ease-in;
    border-bottom: 5px solid transparent;
    position: relative;
    margin-bottom: 20%;
  }

  .project-cards:hover{
    /*background-color: rgba(37,37,37,0.6);*/
    transform: translateY(-5px);
    border-bottom: 5px solid #F0544F;
  }

  .content {
    max-height: 200px;
  }

  .popup {
    width: 80% !important;
    height: 50% !important;
  }

  #popup2 h2{
    font-size: 20px !important;
  }

  #popup2 h3{
    top: 15% !important;
  }

  #popup3 h2{
    font-size: 20px !important;
  }

  #popup3 h3{
    top: 19% !important;
  }

  .content p{
    font-size: 15px !important;
  }
}
